<header class="blue-bg flex-column flex-centered">
    <h1 class="main-title">
        <a href="index.html" class="header-link">
            <span class="font-lobster header-word-border-white blue">All</span>
            <span class="font-lobster header-word-border-white red">American</span>
            <span class="font-lobster header-word-border-black white">menu</span>
        </a>
    </h1>
    <nav class="header-navigation flex-column flex-centered">
        <ul class="header-menu">
            <li class="header-menu-item">
                <div class="header-menu-link-wrapper">
                    <a class="header-menu-link white font-lobster font-big" href="presentacion.html">Presentación</a>
                </div>
            </li>
            <li class="header-menu-item">
                <div class="header-menu-link-wrapper">
                    <a class="header-menu-link white font-lobster font-big" href="recetas.html">Recetas</a>
                </div>
            </li>
            <li class="header-menu-item">
                <div class="header-menu-link-wrapper header-menu-link-wrapper-last">
                    <a class="header-menu-link white font-lobster font-big" href="enlaces.html">Enlaces</a>
                </div>
            </li>
        </ul>
    </nav>
</header>
